<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.termproject">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/eagle"
        android:label="PNU BUS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true"
        >
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="3siyu9ucfj" />
        <activity android:name=".Notice1"/>
        <activity android:name=".Notice2"/>
        <activity android:name=".Notice" />
        <activity android:name=".BusInformation" />
        <activity android:name=".BusStop" />
        <activity android:name=".OntimeBus"
            android:noHistory="true"/>
        <activity android:name=".OntimeBus_down"
            android:noHistory="true"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>